body {
  background-color: aliceblue;
}

.header {
  text-align: center;
  margin: 10px;
  padding: 20px;
  background-color: #005397;
  opacity: 0.7;
}

.logo {
  font-family: "Changa", sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

#song {
  border: 10px double grey;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  text-align: center;
}

.song-img {
  border-radius: 50%;
}

.one {
  background-color: #005397;
  opacity: 0.9;
}
.two {
  background-color: #005397;
  opacity: 0.9;
}
.three {
  background-color: #005397;
  opacity: 0.9;
}
.four {
  background-color: #005397;
  opacity: 0.9;
}
.five {
  background-color: #005397;
  opacity: 0.9;
}
.six {
  background-color: #005397;
  opacity: 0.9;
}
